--
-- PostgreSQL database dump
--

\restrict RveCDPdMpK1EB38p9Qs086xFonb7nmsB59Yh4Hr7kMztGI6qtuFiQhRwRQShmln

-- Dumped from database version 16.12 (Debian 16.12-1.pgdg13+1)
-- Dumped by pg_dump version 16.12 (Debian 16.12-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: AppointmentStatus; Type: TYPE; Schema: public; Owner: trimly
--

CREATE TYPE public."AppointmentStatus" AS ENUM (
    'pending',
    'confirmed',
    'cancelled',
    'completed'
);


ALTER TYPE public."AppointmentStatus" OWNER TO trimly;

--
-- Name: DayOfWeek; Type: TYPE; Schema: public; Owner: trimly
--

CREATE TYPE public."DayOfWeek" AS ENUM (
    'monday',
    'tuesday',
    'wednesday',
    'thursday',
    'friday',
    'saturday',
    'sunday'
);


ALTER TYPE public."DayOfWeek" OWNER TO trimly;

--
-- Name: Role; Type: TYPE; Schema: public; Owner: trimly
--

CREATE TYPE public."Role" AS ENUM (
    'admin',
    'customer',
    'stylist'
);


ALTER TYPE public."Role" OWNER TO trimly;

--
-- Name: StylistStatus; Type: TYPE; Schema: public; Owner: trimly
--

CREATE TYPE public."StylistStatus" AS ENUM (
    'on_duty',
    'on_leave'
);


ALTER TYPE public."StylistStatus" OWNER TO trimly;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: Appointment; Type: TABLE; Schema: public; Owner: trimly
--

CREATE TABLE public."Appointment" (
    id text NOT NULL,
    "customerId" text NOT NULL,
    "salonId" text NOT NULL,
    date timestamp(3) without time zone NOT NULL,
    "startTime" text NOT NULL,
    "endTime" text NOT NULL,
    "totalLkr" integer NOT NULL,
    status public."AppointmentStatus" DEFAULT 'pending'::public."AppointmentStatus" NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Appointment" OWNER TO trimly;

--
-- Name: AppointmentService; Type: TABLE; Schema: public; Owner: trimly
--

CREATE TABLE public."AppointmentService" (
    id text NOT NULL,
    "appointmentId" text NOT NULL,
    "serviceId" text NOT NULL,
    "stylistId" text NOT NULL,
    "priceLkr" integer NOT NULL,
    "durationMin" integer NOT NULL,
    "endTime" text NOT NULL,
    sequence integer NOT NULL,
    "startTime" text NOT NULL
);


ALTER TABLE public."AppointmentService" OWNER TO trimly;

--
-- Name: Category; Type: TABLE; Schema: public; Owner: trimly
--

CREATE TABLE public."Category" (
    id text NOT NULL,
    name text NOT NULL,
    description text,
    "salonId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."Category" OWNER TO trimly;

--
-- Name: Customer; Type: TABLE; Schema: public; Owner: trimly
--

CREATE TABLE public."Customer" (
    id text NOT NULL,
    "userId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Customer" OWNER TO trimly;

--
-- Name: CustomerPoints; Type: TABLE; Schema: public; Owner: trimly
--

CREATE TABLE public."CustomerPoints" (
    id text NOT NULL,
    "customerId" text NOT NULL,
    "tierId" text,
    "totalPoints" integer DEFAULT 0 NOT NULL,
    "lifetimePoints" integer DEFAULT 0 NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."CustomerPoints" OWNER TO trimly;

--
-- Name: LoyaltyProgram; Type: TABLE; Schema: public; Owner: trimly
--

CREATE TABLE public."LoyaltyProgram" (
    id text NOT NULL,
    "salonId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."LoyaltyProgram" OWNER TO trimly;

--
-- Name: LoyaltyReward; Type: TABLE; Schema: public; Owner: trimly
--

CREATE TABLE public."LoyaltyReward" (
    id text NOT NULL,
    "programId" text NOT NULL,
    name text NOT NULL,
    description text NOT NULL,
    "pointsCost" integer NOT NULL,
    "tierRequired" text NOT NULL,
    active boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."LoyaltyReward" OWNER TO trimly;

--
-- Name: LoyaltyRule; Type: TABLE; Schema: public; Owner: trimly
--

CREATE TABLE public."LoyaltyRule" (
    id text NOT NULL,
    "programId" text NOT NULL,
    action text NOT NULL,
    label text NOT NULL,
    description text NOT NULL,
    points integer NOT NULL,
    "iconKey" text NOT NULL,
    "colorKey" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."LoyaltyRule" OWNER TO trimly;

--
-- Name: LoyaltyTier; Type: TABLE; Schema: public; Owner: trimly
--

CREATE TABLE public."LoyaltyTier" (
    id text NOT NULL,
    "programId" text NOT NULL,
    name text NOT NULL,
    threshold integer NOT NULL,
    multiplier double precision NOT NULL,
    benefits text[],
    "sortOrder" integer NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."LoyaltyTier" OWNER TO trimly;

--
-- Name: Payment; Type: TABLE; Schema: public; Owner: trimly
--

CREATE TABLE public."Payment" (
    id text NOT NULL,
    "appointmentId" text NOT NULL,
    "amountLkr" integer NOT NULL,
    status text NOT NULL,
    method text,
    "payherePaymentId" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Payment" OWNER TO trimly;

--
-- Name: PendingPayment; Type: TABLE; Schema: public; Owner: trimly
--

CREATE TABLE public."PendingPayment" (
    id text NOT NULL,
    "salonId" text NOT NULL,
    date timestamp(3) without time zone NOT NULL,
    "startTime" text NOT NULL,
    "totalLkr" double precision NOT NULL,
    "bookingSnapshot" jsonb NOT NULL,
    failed boolean DEFAULT false NOT NULL,
    "appointmentId" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "customerId" text NOT NULL
);


ALTER TABLE public."PendingPayment" OWNER TO trimly;

--
-- Name: RewardRedemption; Type: TABLE; Schema: public; Owner: trimly
--

CREATE TABLE public."RewardRedemption" (
    id text NOT NULL,
    "customerId" text NOT NULL,
    "rewardId" text NOT NULL,
    "pointsSpent" integer NOT NULL,
    "redeemedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."RewardRedemption" OWNER TO trimly;

--
-- Name: Salon; Type: TABLE; Schema: public; Owner: trimly
--

CREATE TABLE public."Salon" (
    id text NOT NULL,
    name text NOT NULL,
    phone text,
    address text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "adminUserId" text NOT NULL
);


ALTER TABLE public."Salon" OWNER TO trimly;

--
-- Name: SalonBusinessHour; Type: TABLE; Schema: public; Owner: trimly
--

CREATE TABLE public."SalonBusinessHour" (
    id text NOT NULL,
    "salonId" text NOT NULL,
    "dayOfWeek" public."DayOfWeek" NOT NULL,
    "openTime" text NOT NULL,
    "closeTime" text NOT NULL,
    "isClosed" boolean DEFAULT false NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "slotDuration" integer DEFAULT 15 NOT NULL
);


ALTER TABLE public."SalonBusinessHour" OWNER TO trimly;

--
-- Name: Service; Type: TABLE; Schema: public; Owner: trimly
--

CREATE TABLE public."Service" (
    id text NOT NULL,
    name text NOT NULL,
    description text,
    "durationMin" integer NOT NULL,
    "priceLkr" integer NOT NULL,
    "salonId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "categoryId" text NOT NULL,
    "styleId" text
);


ALTER TABLE public."Service" OWNER TO trimly;

--
-- Name: StaffWeeklyShift; Type: TABLE; Schema: public; Owner: trimly
--

CREATE TABLE public."StaffWeeklyShift" (
    id text NOT NULL,
    "stylistId" text NOT NULL,
    "dayOfWeek" public."DayOfWeek" NOT NULL,
    "startTime" text NOT NULL,
    "endTime" text NOT NULL,
    "isOff" boolean DEFAULT false NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."StaffWeeklyShift" OWNER TO trimly;

--
-- Name: Style; Type: TABLE; Schema: public; Owner: trimly
--

CREATE TABLE public."Style" (
    id text NOT NULL,
    name text NOT NULL,
    description text,
    category text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Style" OWNER TO trimly;

--
-- Name: Stylist; Type: TABLE; Schema: public; Owner: trimly
--

CREATE TABLE public."Stylist" (
    id text NOT NULL,
    "salonId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    bio text,
    status public."StylistStatus" DEFAULT 'on_duty'::public."StylistStatus" NOT NULL,
    "userId" text NOT NULL,
    "yearsOfExperience" integer,
    "updatedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."Stylist" OWNER TO trimly;

--
-- Name: StylistService; Type: TABLE; Schema: public; Owner: trimly
--

CREATE TABLE public."StylistService" (
    "stylistId" text NOT NULL,
    "serviceId" text NOT NULL
);


ALTER TABLE public."StylistService" OWNER TO trimly;

--
-- Name: User; Type: TABLE; Schema: public; Owner: trimly
--

CREATE TABLE public."User" (
    id text NOT NULL,
    "auth0Sub" text NOT NULL,
    email text NOT NULL,
    role public."Role" NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    name text,
    address text,
    phone text
);


ALTER TABLE public."User" OWNER TO trimly;

--
-- Name: UserFacePhotos; Type: TABLE; Schema: public; Owner: trimly
--

CREATE TABLE public."UserFacePhotos" (
    id text NOT NULL,
    "frontPhoto" text NOT NULL,
    "leftPhoto" text NOT NULL,
    "rightPhoto" text NOT NULL,
    "generatedPhotos" jsonb DEFAULT '{}'::jsonb NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "customerId" text NOT NULL
);


ALTER TABLE public."UserFacePhotos" OWNER TO trimly;

--
-- Name: UserHairProfile; Type: TABLE; Schema: public; Owner: trimly
--

CREATE TABLE public."UserHairProfile" (
    id text NOT NULL,
    "faceShape" text,
    "hairType" text,
    "hairLength" text,
    "styleGoal" text,
    "previousServices" text[] DEFAULT ARRAY[]::text[],
    "detectionMethod" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "faceLandmarks" jsonb,
    "customerId" text NOT NULL
);


ALTER TABLE public."UserHairProfile" OWNER TO trimly;

--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: trimly
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


ALTER TABLE public._prisma_migrations OWNER TO trimly;

--
-- Data for Name: Appointment; Type: TABLE DATA; Schema: public; Owner: trimly
--



--
-- Data for Name: AppointmentService; Type: TABLE DATA; Schema: public; Owner: trimly
--



--
-- Data for Name: Category; Type: TABLE DATA; Schema: public; Owner: trimly
--



--
-- Data for Name: Customer; Type: TABLE DATA; Schema: public; Owner: trimly
--

COPY public."Customer" (id, "userId", "createdAt", "updatedAt") FROM stdin;
6868151f-b742-4e15-adf7-ffc07058ed55	2a3166ab-1601-4e4d-84ef-87e8cbca2ac8	2026-03-18 10:04:25.684	2026-03-18 10:04:25.684
3164c6f9-251e-4b3c-afb4-7386c86ada18	c82247a0-6941-4bb5-8b8f-3162b5664c6b	2026-03-19 08:12:14.626	2026-03-19 08:12:14.626
5f51d81b-4def-4b70-89c7-19adbe169a92	8e48adb5-2fb9-4304-90c7-1de5f9a5201e	2026-03-20 12:43:28.148	2026-03-20 12:43:28.148
\.


--
-- Data for Name: CustomerPoints; Type: TABLE DATA; Schema: public; Owner: trimly
--

COPY public."CustomerPoints" (id, "customerId", "tierId", "totalPoints", "lifetimePoints", "updatedAt") FROM stdin;
\.


--
-- Data for Name: LoyaltyProgram; Type: TABLE DATA; Schema: public; Owner: trimly
--

COPY public."LoyaltyProgram" (id, "salonId", "createdAt", "updatedAt") FROM stdin;
2c2e4bc5-2b80-4c4b-ab29-a9a7b08831a3	cd98e604-5a0b-40aa-b69a-5faef7fb8959	2026-04-24 13:40:30.558	2026-04-24 13:40:30.558
\.


--
-- Data for Name: LoyaltyReward; Type: TABLE DATA; Schema: public; Owner: trimly
--

COPY public."LoyaltyReward" (id, "programId", name, description, "pointsCost", "tierRequired", active, "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: LoyaltyRule; Type: TABLE DATA; Schema: public; Owner: trimly
--



--
-- Data for Name: LoyaltyTier; Type: TABLE DATA; Schema: public; Owner: trimly
--



--
-- Data for Name: Payment; Type: TABLE DATA; Schema: public; Owner: trimly
--

COPY public."Payment" (id, "appointmentId", "amountLkr", status, method, "payherePaymentId", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: PendingPayment; Type: TABLE DATA; Schema: public; Owner: trimly
--

COPY public."PendingPayment" (id, "salonId", date, "startTime", "totalLkr", "bookingSnapshot", failed, "appointmentId", "createdAt", "customerId") FROM stdin;
\.


--
-- Data for Name: RewardRedemption; Type: TABLE DATA; Schema: public; Owner: trimly
--

COPY public."RewardRedemption" (id, "customerId", "rewardId", "pointsSpent", "redeemedAt") FROM stdin;
\.


--
-- Data for Name: Salon; Type: TABLE DATA; Schema: public; Owner: trimly
--



--
-- Data for Name: SalonBusinessHour; Type: TABLE DATA; Schema: public; Owner: trimly
--



--
-- Data for Name: Service; Type: TABLE DATA; Schema: public; Owner: trimly
--



--
-- Data for Name: StaffWeeklyShift; Type: TABLE DATA; Schema: public; Owner: trimly
--



--
-- Data for Name: Style; Type: TABLE DATA; Schema: public; Owner: trimly
--



--
-- Data for Name: Stylist; Type: TABLE DATA; Schema: public; Owner: trimly
--



--
-- Data for Name: StylistService; Type: TABLE DATA; Schema: public; Owner: trimly
--



--
-- Data for Name: User; Type: TABLE DATA; Schema: public; Owner: trimly
--



--
-- Data for Name: UserFacePhotos; Type: TABLE DATA; Schema: public; Owner: trimly
--

COPY public."UserFacePhotos" (id, "frontPhoto", "leftPhoto", "rightPhoto", "generatedPhotos", "createdAt", "updatedAt", "customerId") FROM stdin;
\.


--
-- Data for Name: UserHairProfile; Type: TABLE DATA; Schema: public; Owner: trimly
--

COPY public."UserHairProfile" (id, "faceShape", "hairType", "hairLength", "styleGoal", "previousServices", "detectionMethod", "createdAt", "updatedAt", "faceLandmarks", "customerId") FROM stdin;
\.


--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: trimly
--



--
-- Name: AppointmentService AppointmentService_pkey; Type: CONSTRAINT; Schema: public; Owner: trimly
--

ALTER TABLE ONLY public."AppointmentService"
    ADD CONSTRAINT "AppointmentService_pkey" PRIMARY KEY (id);


--
-- Name: Appointment Appointment_pkey; Type: CONSTRAINT; Schema: public; Owner: trimly
--

ALTER TABLE ONLY public."Appointment"
    ADD CONSTRAINT "Appointment_pkey" PRIMARY KEY (id);


--
-- Name: Category Category_pkey; Type: CONSTRAINT; Schema: public; Owner: trimly
--

ALTER TABLE ONLY public."Category"
    ADD CONSTRAINT "Category_pkey" PRIMARY KEY (id);


--
-- Name: CustomerPoints CustomerPoints_pkey; Type: CONSTRAINT; Schema: public; Owner: trimly
--

ALTER TABLE ONLY public."CustomerPoints"
    ADD CONSTRAINT "CustomerPoints_pkey" PRIMARY KEY (id);


--
-- Name: Customer Customer_pkey; Type: CONSTRAINT; Schema: public; Owner: trimly
--

ALTER TABLE ONLY public."Customer"
    ADD CONSTRAINT "Customer_pkey" PRIMARY KEY (id);


--
-- Name: LoyaltyProgram LoyaltyProgram_pkey; Type: CONSTRAINT; Schema: public; Owner: trimly
--

ALTER TABLE ONLY public."LoyaltyProgram"
    ADD CONSTRAINT "LoyaltyProgram_pkey" PRIMARY KEY (id);


--
-- Name: LoyaltyReward LoyaltyReward_pkey; Type: CONSTRAINT; Schema: public; Owner: trimly
--

ALTER TABLE ONLY public."LoyaltyReward"
    ADD CONSTRAINT "LoyaltyReward_pkey" PRIMARY KEY (id);


--
-- Name: LoyaltyRule LoyaltyRule_pkey; Type: CONSTRAINT; Schema: public; Owner: trimly
--

ALTER TABLE ONLY public."LoyaltyRule"
    ADD CONSTRAINT "LoyaltyRule_pkey" PRIMARY KEY (id);


--
-- Name: LoyaltyTier LoyaltyTier_pkey; Type: CONSTRAINT; Schema: public; Owner: trimly
--

ALTER TABLE ONLY public."LoyaltyTier"
    ADD CONSTRAINT "LoyaltyTier_pkey" PRIMARY KEY (id);


--
-- Name: Payment Payment_pkey; Type: CONSTRAINT; Schema: public; Owner: trimly
--

ALTER TABLE ONLY public."Payment"
    ADD CONSTRAINT "Payment_pkey" PRIMARY KEY (id);


--
-- Name: PendingPayment PendingPayment_pkey; Type: CONSTRAINT; Schema: public; Owner: trimly
--

ALTER TABLE ONLY public."PendingPayment"
    ADD CONSTRAINT "PendingPayment_pkey" PRIMARY KEY (id);


--
-- Name: RewardRedemption RewardRedemption_pkey; Type: CONSTRAINT; Schema: public; Owner: trimly
--

ALTER TABLE ONLY public."RewardRedemption"
    ADD CONSTRAINT "RewardRedemption_pkey" PRIMARY KEY (id);


--
-- Name: SalonBusinessHour SalonBusinessHour_pkey; Type: CONSTRAINT; Schema: public; Owner: trimly
--

ALTER TABLE ONLY public."SalonBusinessHour"
    ADD CONSTRAINT "SalonBusinessHour_pkey" PRIMARY KEY (id);


--
-- Name: Salon Salon_pkey; Type: CONSTRAINT; Schema: public; Owner: trimly
--

ALTER TABLE ONLY public."Salon"
    ADD CONSTRAINT "Salon_pkey" PRIMARY KEY (id);


--
-- Name: Service Service_pkey; Type: CONSTRAINT; Schema: public; Owner: trimly
--

ALTER TABLE ONLY public."Service"
    ADD CONSTRAINT "Service_pkey" PRIMARY KEY (id);


--
-- Name: StaffWeeklyShift StaffWeeklyShift_pkey; Type: CONSTRAINT; Schema: public; Owner: trimly
--

ALTER TABLE ONLY public."StaffWeeklyShift"
    ADD CONSTRAINT "StaffWeeklyShift_pkey" PRIMARY KEY (id);


--
-- Name: Style Style_pkey; Type: CONSTRAINT; Schema: public; Owner: trimly
--

ALTER TABLE ONLY public."Style"
    ADD CONSTRAINT "Style_pkey" PRIMARY KEY (id);


--
-- Name: StylistService StylistService_pkey; Type: CONSTRAINT; Schema: public; Owner: trimly
--

ALTER TABLE ONLY public."StylistService"
    ADD CONSTRAINT "StylistService_pkey" PRIMARY KEY ("stylistId", "serviceId");


--
-- Name: Stylist Stylist_pkey; Type: CONSTRAINT; Schema: public; Owner: trimly
--

ALTER TABLE ONLY public."Stylist"
    ADD CONSTRAINT "Stylist_pkey" PRIMARY KEY (id);


--
-- Name: UserFacePhotos UserFacePhotos_pkey; Type: CONSTRAINT; Schema: public; Owner: trimly
--

ALTER TABLE ONLY public."UserFacePhotos"
    ADD CONSTRAINT "UserFacePhotos_pkey" PRIMARY KEY (id);


--
-- Name: UserHairProfile UserHairProfile_pkey; Type: CONSTRAINT; Schema: public; Owner: trimly
--

ALTER TABLE ONLY public."UserHairProfile"
    ADD CONSTRAINT "UserHairProfile_pkey" PRIMARY KEY (id);


--
-- Name: User User_pkey; Type: CONSTRAINT; Schema: public; Owner: trimly
--

ALTER TABLE ONLY public."User"
    ADD CONSTRAINT "User_pkey" PRIMARY KEY (id);


--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: trimly
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: AppointmentService_appointmentId_idx; Type: INDEX; Schema: public; Owner: trimly
--

CREATE INDEX "AppointmentService_appointmentId_idx" ON public."AppointmentService" USING btree ("appointmentId");


--
-- Name: AppointmentService_appointmentId_sequence_key; Type: INDEX; Schema: public; Owner: trimly
--

CREATE UNIQUE INDEX "AppointmentService_appointmentId_sequence_key" ON public."AppointmentService" USING btree ("appointmentId", sequence);


--
-- Name: AppointmentService_serviceId_idx; Type: INDEX; Schema: public; Owner: trimly
--

CREATE INDEX "AppointmentService_serviceId_idx" ON public."AppointmentService" USING btree ("serviceId");


--
-- Name: AppointmentService_stylistId_idx; Type: INDEX; Schema: public; Owner: trimly
--

CREATE INDEX "AppointmentService_stylistId_idx" ON public."AppointmentService" USING btree ("stylistId");


--
-- Name: AppointmentService_stylistId_startTime_endTime_idx; Type: INDEX; Schema: public; Owner: trimly
--

CREATE INDEX "AppointmentService_stylistId_startTime_endTime_idx" ON public."AppointmentService" USING btree ("stylistId", "startTime", "endTime");


--
-- Name: Appointment_customerId_date_idx; Type: INDEX; Schema: public; Owner: trimly
--

CREATE INDEX "Appointment_customerId_date_idx" ON public."Appointment" USING btree ("customerId", date);


--
-- Name: Appointment_salonId_date_idx; Type: INDEX; Schema: public; Owner: trimly
--

CREATE INDEX "Appointment_salonId_date_idx" ON public."Appointment" USING btree ("salonId", date);


--
-- Name: Category_name_salonId_key; Type: INDEX; Schema: public; Owner: trimly
--

CREATE UNIQUE INDEX "Category_name_salonId_key" ON public."Category" USING btree (name, "salonId");


--
-- Name: Category_salonId_idx; Type: INDEX; Schema: public; Owner: trimly
--

CREATE INDEX "Category_salonId_idx" ON public."Category" USING btree ("salonId");


--
-- Name: CustomerPoints_customerId_key; Type: INDEX; Schema: public; Owner: trimly
--

CREATE UNIQUE INDEX "CustomerPoints_customerId_key" ON public."CustomerPoints" USING btree ("customerId");


--
-- Name: Customer_userId_key; Type: INDEX; Schema: public; Owner: trimly
--

CREATE UNIQUE INDEX "Customer_userId_key" ON public."Customer" USING btree ("userId");


--
-- Name: LoyaltyProgram_salonId_key; Type: INDEX; Schema: public; Owner: trimly
--

CREATE UNIQUE INDEX "LoyaltyProgram_salonId_key" ON public."LoyaltyProgram" USING btree ("salonId");


--
-- Name: LoyaltyReward_programId_idx; Type: INDEX; Schema: public; Owner: trimly
--

CREATE INDEX "LoyaltyReward_programId_idx" ON public."LoyaltyReward" USING btree ("programId");


--
-- Name: LoyaltyRule_programId_action_key; Type: INDEX; Schema: public; Owner: trimly
--

CREATE UNIQUE INDEX "LoyaltyRule_programId_action_key" ON public."LoyaltyRule" USING btree ("programId", action);


--
-- Name: LoyaltyTier_programId_idx; Type: INDEX; Schema: public; Owner: trimly
--

CREATE INDEX "LoyaltyTier_programId_idx" ON public."LoyaltyTier" USING btree ("programId");


--
-- Name: LoyaltyTier_programId_name_key; Type: INDEX; Schema: public; Owner: trimly
--

CREATE UNIQUE INDEX "LoyaltyTier_programId_name_key" ON public."LoyaltyTier" USING btree ("programId", name);


--
-- Name: LoyaltyTier_programId_sortOrder_key; Type: INDEX; Schema: public; Owner: trimly
--

CREATE UNIQUE INDEX "LoyaltyTier_programId_sortOrder_key" ON public."LoyaltyTier" USING btree ("programId", "sortOrder");


--
-- Name: Payment_appointmentId_key; Type: INDEX; Schema: public; Owner: trimly
--

CREATE UNIQUE INDEX "Payment_appointmentId_key" ON public."Payment" USING btree ("appointmentId");


--
-- Name: PendingPayment_appointmentId_key; Type: INDEX; Schema: public; Owner: trimly
--

CREATE UNIQUE INDEX "PendingPayment_appointmentId_key" ON public."PendingPayment" USING btree ("appointmentId");


--
-- Name: RewardRedemption_customerId_idx; Type: INDEX; Schema: public; Owner: trimly
--

CREATE INDEX "RewardRedemption_customerId_idx" ON public."RewardRedemption" USING btree ("customerId");


--
-- Name: RewardRedemption_rewardId_idx; Type: INDEX; Schema: public; Owner: trimly
--

CREATE INDEX "RewardRedemption_rewardId_idx" ON public."RewardRedemption" USING btree ("rewardId");


--
-- Name: SalonBusinessHour_salonId_dayOfWeek_idx; Type: INDEX; Schema: public; Owner: trimly
--

CREATE INDEX "SalonBusinessHour_salonId_dayOfWeek_idx" ON public."SalonBusinessHour" USING btree ("salonId", "dayOfWeek");


--
-- Name: SalonBusinessHour_salonId_dayOfWeek_key; Type: INDEX; Schema: public; Owner: trimly
--

CREATE UNIQUE INDEX "SalonBusinessHour_salonId_dayOfWeek_key" ON public."SalonBusinessHour" USING btree ("salonId", "dayOfWeek");


--
-- Name: Salon_adminUserId_key; Type: INDEX; Schema: public; Owner: trimly
--

CREATE UNIQUE INDEX "Salon_adminUserId_key" ON public."Salon" USING btree ("adminUserId");


--
-- Name: Service_categoryId_idx; Type: INDEX; Schema: public; Owner: trimly
--

CREATE INDEX "Service_categoryId_idx" ON public."Service" USING btree ("categoryId");


--
-- Name: Service_salonId_idx; Type: INDEX; Schema: public; Owner: trimly
--

CREATE INDEX "Service_salonId_idx" ON public."Service" USING btree ("salonId");


--
-- Name: Service_styleId_idx; Type: INDEX; Schema: public; Owner: trimly
--

CREATE INDEX "Service_styleId_idx" ON public."Service" USING btree ("styleId");


--
-- Name: StaffWeeklyShift_stylistId_dayOfWeek_idx; Type: INDEX; Schema: public; Owner: trimly
--

CREATE INDEX "StaffWeeklyShift_stylistId_dayOfWeek_idx" ON public."StaffWeeklyShift" USING btree ("stylistId", "dayOfWeek");


--
-- Name: StaffWeeklyShift_stylistId_dayOfWeek_key; Type: INDEX; Schema: public; Owner: trimly
--

CREATE UNIQUE INDEX "StaffWeeklyShift_stylistId_dayOfWeek_key" ON public."StaffWeeklyShift" USING btree ("stylistId", "dayOfWeek");


--
-- Name: Style_name_key; Type: INDEX; Schema: public; Owner: trimly
--

CREATE UNIQUE INDEX "Style_name_key" ON public."Style" USING btree (name);


--
-- Name: StylistService_serviceId_idx; Type: INDEX; Schema: public; Owner: trimly
--

CREATE INDEX "StylistService_serviceId_idx" ON public."StylistService" USING btree ("serviceId");


--
-- Name: Stylist_salonId_idx; Type: INDEX; Schema: public; Owner: trimly
--

CREATE INDEX "Stylist_salonId_idx" ON public."Stylist" USING btree ("salonId");


--
-- Name: Stylist_userId_key; Type: INDEX; Schema: public; Owner: trimly
--

CREATE UNIQUE INDEX "Stylist_userId_key" ON public."Stylist" USING btree ("userId");


--
-- Name: UserFacePhotos_customerId_key; Type: INDEX; Schema: public; Owner: trimly
--

CREATE UNIQUE INDEX "UserFacePhotos_customerId_key" ON public."UserFacePhotos" USING btree ("customerId");


--
-- Name: UserHairProfile_customerId_key; Type: INDEX; Schema: public; Owner: trimly
--

CREATE UNIQUE INDEX "UserHairProfile_customerId_key" ON public."UserHairProfile" USING btree ("customerId");


--
-- Name: User_auth0Sub_key; Type: INDEX; Schema: public; Owner: trimly
--

CREATE UNIQUE INDEX "User_auth0Sub_key" ON public."User" USING btree ("auth0Sub");


--
-- Name: User_email_key; Type: INDEX; Schema: public; Owner: trimly
--

CREATE UNIQUE INDEX "User_email_key" ON public."User" USING btree (email);


--
-- Name: AppointmentService AppointmentService_appointmentId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: trimly
--

ALTER TABLE ONLY public."AppointmentService"
    ADD CONSTRAINT "AppointmentService_appointmentId_fkey" FOREIGN KEY ("appointmentId") REFERENCES public."Appointment"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: AppointmentService AppointmentService_serviceId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: trimly
--

ALTER TABLE ONLY public."AppointmentService"
    ADD CONSTRAINT "AppointmentService_serviceId_fkey" FOREIGN KEY ("serviceId") REFERENCES public."Service"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: AppointmentService AppointmentService_stylistId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: trimly
--

ALTER TABLE ONLY public."AppointmentService"
    ADD CONSTRAINT "AppointmentService_stylistId_fkey" FOREIGN KEY ("stylistId") REFERENCES public."Stylist"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Appointment Appointment_customerId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: trimly
--

ALTER TABLE ONLY public."Appointment"
    ADD CONSTRAINT "Appointment_customerId_fkey" FOREIGN KEY ("customerId") REFERENCES public."Customer"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Appointment Appointment_salonId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: trimly
--

ALTER TABLE ONLY public."Appointment"
    ADD CONSTRAINT "Appointment_salonId_fkey" FOREIGN KEY ("salonId") REFERENCES public."Salon"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Category Category_salonId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: trimly
--

ALTER TABLE ONLY public."Category"
    ADD CONSTRAINT "Category_salonId_fkey" FOREIGN KEY ("salonId") REFERENCES public."Salon"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: CustomerPoints CustomerPoints_customerId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: trimly
--

ALTER TABLE ONLY public."CustomerPoints"
    ADD CONSTRAINT "CustomerPoints_customerId_fkey" FOREIGN KEY ("customerId") REFERENCES public."Customer"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: CustomerPoints CustomerPoints_tierId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: trimly
--

ALTER TABLE ONLY public."CustomerPoints"
    ADD CONSTRAINT "CustomerPoints_tierId_fkey" FOREIGN KEY ("tierId") REFERENCES public."LoyaltyTier"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Customer Customer_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: trimly
--

ALTER TABLE ONLY public."Customer"
    ADD CONSTRAINT "Customer_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: LoyaltyProgram LoyaltyProgram_salonId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: trimly
--

ALTER TABLE ONLY public."LoyaltyProgram"
    ADD CONSTRAINT "LoyaltyProgram_salonId_fkey" FOREIGN KEY ("salonId") REFERENCES public."Salon"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: LoyaltyReward LoyaltyReward_programId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: trimly
--

ALTER TABLE ONLY public."LoyaltyReward"
    ADD CONSTRAINT "LoyaltyReward_programId_fkey" FOREIGN KEY ("programId") REFERENCES public."LoyaltyProgram"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: LoyaltyRule LoyaltyRule_programId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: trimly
--

ALTER TABLE ONLY public."LoyaltyRule"
    ADD CONSTRAINT "LoyaltyRule_programId_fkey" FOREIGN KEY ("programId") REFERENCES public."LoyaltyProgram"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: LoyaltyTier LoyaltyTier_programId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: trimly
--

ALTER TABLE ONLY public."LoyaltyTier"
    ADD CONSTRAINT "LoyaltyTier_programId_fkey" FOREIGN KEY ("programId") REFERENCES public."LoyaltyProgram"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Payment Payment_appointmentId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: trimly
--

ALTER TABLE ONLY public."Payment"
    ADD CONSTRAINT "Payment_appointmentId_fkey" FOREIGN KEY ("appointmentId") REFERENCES public."Appointment"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: PendingPayment PendingPayment_appointmentId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: trimly
--

ALTER TABLE ONLY public."PendingPayment"
    ADD CONSTRAINT "PendingPayment_appointmentId_fkey" FOREIGN KEY ("appointmentId") REFERENCES public."Appointment"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: PendingPayment PendingPayment_customerId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: trimly
--

ALTER TABLE ONLY public."PendingPayment"
    ADD CONSTRAINT "PendingPayment_customerId_fkey" FOREIGN KEY ("customerId") REFERENCES public."Customer"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: RewardRedemption RewardRedemption_customerId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: trimly
--

ALTER TABLE ONLY public."RewardRedemption"
    ADD CONSTRAINT "RewardRedemption_customerId_fkey" FOREIGN KEY ("customerId") REFERENCES public."Customer"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: RewardRedemption RewardRedemption_rewardId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: trimly
--

ALTER TABLE ONLY public."RewardRedemption"
    ADD CONSTRAINT "RewardRedemption_rewardId_fkey" FOREIGN KEY ("rewardId") REFERENCES public."LoyaltyReward"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: SalonBusinessHour SalonBusinessHour_salonId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: trimly
--

ALTER TABLE ONLY public."SalonBusinessHour"
    ADD CONSTRAINT "SalonBusinessHour_salonId_fkey" FOREIGN KEY ("salonId") REFERENCES public."Salon"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Salon Salon_adminUserId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: trimly
--

ALTER TABLE ONLY public."Salon"
    ADD CONSTRAINT "Salon_adminUserId_fkey" FOREIGN KEY ("adminUserId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Service Service_categoryId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: trimly
--

ALTER TABLE ONLY public."Service"
    ADD CONSTRAINT "Service_categoryId_fkey" FOREIGN KEY ("categoryId") REFERENCES public."Category"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Service Service_salonId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: trimly
--

ALTER TABLE ONLY public."Service"
    ADD CONSTRAINT "Service_salonId_fkey" FOREIGN KEY ("salonId") REFERENCES public."Salon"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Service Service_styleId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: trimly
--

ALTER TABLE ONLY public."Service"
    ADD CONSTRAINT "Service_styleId_fkey" FOREIGN KEY ("styleId") REFERENCES public."Style"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: StaffWeeklyShift StaffWeeklyShift_stylistId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: trimly
--

ALTER TABLE ONLY public."StaffWeeklyShift"
    ADD CONSTRAINT "StaffWeeklyShift_stylistId_fkey" FOREIGN KEY ("stylistId") REFERENCES public."Stylist"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: StylistService StylistService_serviceId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: trimly
--

ALTER TABLE ONLY public."StylistService"
    ADD CONSTRAINT "StylistService_serviceId_fkey" FOREIGN KEY ("serviceId") REFERENCES public."Service"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: StylistService StylistService_stylistId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: trimly
--

ALTER TABLE ONLY public."StylistService"
    ADD CONSTRAINT "StylistService_stylistId_fkey" FOREIGN KEY ("stylistId") REFERENCES public."Stylist"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Stylist Stylist_salonId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: trimly
--

ALTER TABLE ONLY public."Stylist"
    ADD CONSTRAINT "Stylist_salonId_fkey" FOREIGN KEY ("salonId") REFERENCES public."Salon"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Stylist Stylist_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: trimly
--

ALTER TABLE ONLY public."Stylist"
    ADD CONSTRAINT "Stylist_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: UserFacePhotos UserFacePhotos_customerId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: trimly
--

ALTER TABLE ONLY public."UserFacePhotos"
    ADD CONSTRAINT "UserFacePhotos_customerId_fkey" FOREIGN KEY ("customerId") REFERENCES public."Customer"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: UserHairProfile UserHairProfile_customerId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: trimly
--

ALTER TABLE ONLY public."UserHairProfile"
    ADD CONSTRAINT "UserHairProfile_customerId_fkey" FOREIGN KEY ("customerId") REFERENCES public."Customer"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict RveCDPdMpK1EB38p9Qs086xFonb7nmsB59Yh4Hr7kMztGI6qtuFiQhRwRQShmln

